/* Fonts */
@font-face {
	font-family: 'WorkSans';
	src: url(./fonts/WorkSans-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'WorkSans', sans-serif;
	/* overflow: hidden; */
	background-color: black;
}

ul,
li,
a,
.fas {
	text-decoration: none;
	list-style: none;
	color: rgb(200, 200, 200);
}

/* Nav */

.main-head {
	background-color: black;
	color: white;
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 90%;
	margin: 0 auto;
	align-items: center;
}

.fas {
	font-size: 1.5rem;
	margin-right: 4rem;
	cursor: pointer;
}

.fas:hover {
	color: white;
}

.logo {
	justify-self: center;
	font-size: 3rem;
	cursor: pointer;
}

.profile {
	justify-self: right;
	font-size: 1.5rem;
}

.profile:hover {
	color: white;
}

/* Carousel */


.glide img {
	width: 100%;
}
